flask
flask-cors
langchain>=0.2.0
langchain-core>=0.2.0
langchain-community>=0.2.0
langchain-google-genai>=1.0.5
google-generativeai
duckduckgo-search
beautifulsoup4
python-dotenv
requests
gunicorn
PyPDF2
